In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir())

['.ipynb_checkpoints', 'B1-B2. Pandas.ipynb', 'B3-B4. Pandas.ipynb', 'data', 'data.csv', 'data_sf.xls', 'file.csv', 'kino', 'log.csv', 'movies.csv', 'ratings.csv', 'sample.csv', 'Untitled Folder', 'users.csv', '[SF-DST] Movies IMBD v3.0.ipynb']

In [217]:
data = pd.read_csv('data.csv')
data['rev'] = data['revenue'] - data['budget']
def func(q):
    if '/' in q:
        ind=q.find('/')
        return str(q[0:ind:])
data['mounth']=data.release_date.apply(func)
data['mounth']=data['mounth'].astype('int64')
data['len_sym'] = data.original_title.apply(lambda x:len(str(x)))
data['len_word'] = data.original_title.apply(lambda x:len(x.split()))

data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,6,14,2
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354,5,18,4
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201,3,9,1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12,28,5
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,1316249360,4,9,2

# Предобработка датасета

In [407]:
answer_ls = []
#answer_ls.append("4 - The Warrior's Way (tt1032751)")
#answer_ls.append("2 - Gods and Generals (tt0279111)")
#answer_ls.append("3 - Winnie the Pooh tt1449283")
#answer_ls.append("2 - 110")
#answer_ls.append("1 - 106")
#answer_ls.append("5 - Avatar tt0499549")
#answer_ls.append("2 - The Warrior's Way tt1032751")
#answer_ls.append("1 - 1478")
#answer_ls.append("4 - The Dark Knight tt0468569")
#answer_ls.append("5 - The Lone Ranger tt1210819")
#answer_ls.append("4 - Comedy")
#answer_ls.append("3 - Drama")
#answer_ls.append("3 - Steven Soderbergh")
#answer_ls.append("2 - Ridley Scott")
#answer_ls.append("5 - Peter Jackson")
#answer_ls.append("1 - Emma Watson")
#answer_ls.append("3 - Kirsten Dunst")
#answer_ls.append("3 - Matt Damon")
#answer_ls.append("2 - Action")
#answer_ls.append("1 - Universal Pictures (Universal)")
#answer_ls.append("4 - Warner Bros")
#answer_ls.append("2 - Universal Pictures (Universal)")
#answer_ls.append("3 - Columbia Pictures")
#answer_ls.append("1 - K-19: The Widowmaker tt0267626")
#answer_ls.append("5 - 2015")
#answer_ls.append("1 - 2014")
#answer_ls.append("4 - Сентябрь")
#answer_ls.append("2 - 450")
#answer_ls.append("5 - Peter Jackson")
#answer_ls.append("2 - Июнь")
#answer_ls.append("5 - Four By Two Productions")
#answer_ls.append("5 - Four By Two Productions")
#answer_ls.append("3 - 2461")
#answer_ls.append("1 - Inside Out, Gone Girl, 12 Years a Slave")
#answer_ls.append("5 - Daniel Radcliffe and Rupert Grint")
#answer_ls.append("4 - Christopher Nolan")

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [367]:
display(data.sort_values('budget',ascending=False).head())

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,17,3
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,3180,6.3,2011,641683000,5,43,7
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,2626,6.8,2007,661000000,5,40,7
14,tt2395427,5.944927,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,4304,7.4,2015,1125035767,4,23,4
1015,tt0401729,1.588457,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,1479,6.0,2012,24139100,3,11,2

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [368]:
display(data.sort_values('runtime',ascending=False).head(3))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003,-43076064,2,17,3
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,5636,7.9,2003,1024888979,12,45,10
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,Robert Rodriguez|Eli Roth|Quentin Tarantino|Ed...,A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,Thriller|Action|Horror,Big Talk Productions|Yer Dead Productions|Wein...,4/6/2007,197,6.5,2007,-41962103,4,10,1

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [369]:
display(data.sort_values('runtime',ascending=True).head(3))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011,-15540000,4,15,3
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2/14/2002,174,6.2,2002,89862682,2,20,4
1098,tt0283426,1.781615,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,156,5.6,2003,115680000,2,17,4

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [371]:
display(data.runtime.mean())

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [373]:
display(data.runtime.median())

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [375]:
display(data.sort_values('rev',ascending=False).head(3))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847,12,6,1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225,12,28,5
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810,6,14,2

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [376]:
data['rev'] = data['revenue'] - data['budget']
display(data.sort_values('rev',ascending=True).head(3))

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431,12,17,3
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7,15,3
1617,tt0318974,0.94856,145000000,25819961,The Alamo,Dennis Quaid|Billy Bob Thornton|Jason Patric|P...,John Lee Hancock,You will never forget,Based on the 1836 standoff between a group of ...,137,Western|History|War,Imagine Entertainment|Touchstone Pictures,4/7/2004,60,5.9,2004,-119180039,4,9,2

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [377]:
data[data.rev>0]['rev'].count()

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [378]:
data[(data.rev>0)&(2012<data.release_year)&(data.release_year<2014)].sort_values('rev',ascending=False).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
1178,tt2294629,6.112766,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,3369,7.5,2013,1124219009,11,6,1
1181,tt1300854,4.946136,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6882,6.9,2013,1015439994,4,10,3
1190,tt1690953,3.928789,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,3436,7.0,2013,894761885,6,15,3

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [379]:
data[(data.release_year>2012)&(data.release_year<=2014)].sort_values('rev',ascending=True).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090,7,15,3
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,876,5.3,2013,-68351500,7,8,1
1303,tt0884726,0.354271,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,36,6.1,2013,-51337973,6,31,5

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [380]:
print('1. Action', len(data[data.genres.str.contains("Action", na=False)]))
print('2. Adventure', len(data[data.genres.str.contains("Adventure", na=False)]))
print('3. Drama', len(data[data.genres.str.contains("Drama", na=False)]))
print('4. Comedy', len(data[data.genres.str.contains("Comedy", na=False)]))
print('5. Thriller', len(data[data.genres.str.contains("Thriller", na=False)]))

1. Action 583
2. Adventure 416
3. Drama 782
4. Comedy 683
5. Thriller 597

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [381]:
print('1. Drama', len(data[(data.rev>0)&(data.genres.str.contains("Drama", na=False))]))
print('2. Comedy', len(data[(data.rev>0)&(data.genres.str.contains("Comedy", na=False))]))
print('3. Action', len(data[(data.rev>0)&(data.genres.str.contains("Action", na=False))]))
print('4. Thriller', len(data[(data.rev>0)&(data.genres.str.contains("Thriller", na=False))]))
print('5. Adventure', len(data[(data.rev>0)&(data.genres.str.contains("Adventure", na=False))]))

1. Drama 560
2. Comedy 551
3. Action 444
4. Thriller 446
5. Adventure 337

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [382]:
data['director'].value_counts()

Steven Soderbergh         13
Clint Eastwood            12
Ridley Scott              12
Shawn Levy                10
Steven Spielberg          10
                          ..
Florent-Emilio Siri        1
Ash Brannon|Chris Buck     1
Tom Gormican               1
Troy Nixey                 1
Terry George               1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [384]:
data[data.rev>0]['director'].value_counts()

Ridley Scott                                12
Clint Eastwood                              10
Steven Soderbergh                           10
Steven Spielberg                            10
Shawn Levy                                   9
                                            ..
William Friedkin                             1
Bibo Bergeron|Vicky Jenson|Rob Letterman     1
Gary Trousdale|Kirk Wise                     1
Chris Miller|Raman Hui                       1
Terry George                                 1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [385]:
print('1. Steven Spielberg',data[(data.director.str.contains("Steven Spielberg", na=False))]['rev'].sum())
print('2. Christopher Nolan',data[(data.director.str.contains("Christopher Nolan", na=False))]['rev'].sum())
print('3. David Yates',data[(data.director.str.contains("David Yates", na=False))]['rev'].sum())
print('4. James Cameron',data[(data.director.str.contains("James Cameron", na=False))]['rev'].sum())
print('5. Peter Jackson',data[(data.director.str.contains("Peter Jackson", na=False))]['rev'].sum())

1. Steven Spielberg 2449700791
2. Christopher Nolan 3162548502
3. David Yates 3379295625
4. James Cameron 2548546718
5. Peter Jackson 5202593685

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [386]:
print('1. Emma Watson', data[(data.cast.str.contains("Emma Watson", na=False))]['rev'].sum())
print('2. Johnny Depp', data[(data.cast.str.contains("Johnny Depp", na=False))]['rev'].sum())
print('3. Michelle Rodriguez', data[(data.cast.str.contains("Michelle Rodriguez", na=False))]['rev'].sum())
print('4. Orlando Bloom', data[(data.cast.str.contains("Orlando Bloom", na=False))]['rev'].sum())
print('5. Rupert Grint', data[(data.cast.str.contains("Rupert Grint", na=False))]['rev'].sum())

1. Emma Watson 6666245597
2. Johnny Depp 4776417000
3. Michelle Rodriguez 4608031235
4. Orlando Bloom 5148578162
5. Rupert Grint 6408638290

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [387]:
print('1. Nicolas Cage', data[(data.release_year==2012)&(data.cast.str.contains("Nicolas Cage", na=False))]['rev'].sum())
print('2. Danny Huston', data[(data.release_year==2012)&(data.cast.str.contains("Danny Huston", na=False))]['rev'].sum())
print('3. Kirsten Dunst', data[(data.release_year==2012)&(data.cast.str.contains("Kirsten Dunst", na=False))]['rev'].sum())
print('4. Jim Sturgess', data[(data.release_year==2012)&(data.cast.str.contains("Jim Sturgess", na=False))]['rev'].sum())
print('5. Sami Gayle', data[(data.release_year==2012)&(data.cast.str.contains("Sami Gayle", na=False))]['rev'].sum())

1. Nicolas Cage -32893443
2. Danny Huston -32893443
3. Kirsten Dunst -68109207
4. Jim Sturgess -23410657
5. Sami Gayle -32893443

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [388]:
print('1. Tom Cruise',data[(data.budget>data.budget.mean())&(data.cast.str.contains("Tom Cruise", na=False))]['budget'].count())
print('2. Mark Wahlberg ',data[(data.budget>data.budget.mean())&(data.cast.str.contains("Mark Wahlberg", na=False))]['budget'].count())
print('3. Matt Damon',data[(data.budget>data.budget.mean())&(data.cast.str.contains("Matt Damon", na=False))]['budget'].count())
print('4. Angelina Jolie',data[(data.budget>data.budget.mean())&(data.cast.str.contains("Angelina Jolie", na=False))]['budget'].count())
print('5. Adam Sandler',data[(data.budget>data.budget.mean())&(data.cast.str.contains("Adam Sandler", na=False))]['budget'].count())

1. Tom Cruise 15
2. Mark Wahlberg  14
3. Matt Damon 18
4. Angelina Jolie 16
5. Adam Sandler 17

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [389]:
Cage=data[data.cast.str.contains("Nicolas Cage", na=False)]
print('Drama',len(Cage[(Cage.genres.str.contains("Drama", na=False))]))
print('Action',len(Cage[(Cage.genres.str.contains("Action", na=False))]))
print('Thriller',len(Cage[(Cage.genres.str.contains("Thriller", na=False))]))
print('Adventure',len(Cage[(Cage.genres.str.contains("Adventure", na=False))]))
print('Crime',len(Cage[(Cage.genres.str.contains("Crime", na=False))]))

Drama 12
Action 17
Thriller 15
Adventure 7
Crime 10

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [390]:
print('1. Universal Pictures (Universal)',len(data[(data.production_companies.str.contains("Universal", na=False))]))
print('2. Paramount Pictures',len(data[(data.production_companies.str.contains("Paramount Pictures", na=False))]))
print('3. Columbia Pictures',len(data[(data.production_companies.str.contains("Columbia Pictures", na=False))]))
print('4. Warner Bros',len(data[(data.production_companies.str.contains("Warner Bros", na=False))]))
print('5. Twentieth Century Fox Film Corporation',len(data[(data.production_companies.str.contains("Twentieth Century Fox Film Corporation", na=False))]))

1. Universal Pictures (Universal) 185
2. Paramount Pictures 122
3. Columbia Pictures 163
4. Warner Bros 183
5. Twentieth Century Fox Film Corporation 109

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [391]:
print('1. Universal Pictures (Universal)',len(data[(data.release_year==2015)&(data.production_companies.str.contains("Universal Pictures", na=False))]))
print('2. Paramount Pictures',len(data[(data.release_year==2015)&(data.production_companies.str.contains("Paramount Pictures", na=False))]))
print('3. Columbia Pictures',len(data[(data.release_year==2015)&(data.production_companies.str.contains("Columbia Pictures", na=False))]))
print('4. Warner Bros',len(data[(data.release_year==2015)&(data.production_companies.str.contains("Warner Bros", na=False))]))
print('5. Twentieth Century Fox Film Corporation',len(data[(data.release_year==2015)&(data.production_companies.str.contains("Twentieth Century Fox Film Corporation", na=False))]))

1. Universal Pictures (Universal) 11
2. Paramount Pictures 7
3. Columbia Pictures 7
4. Warner Bros 12
5. Twentieth Century Fox Film Corporation 8

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [392]:
comedy=data[data.genres.str.contains("Comedy", na=False)]
data_22 = pd.Series([
    comedy[(comedy.production_companies.str.contains("Warner Bros", na=False))]['rev'].sum(),
    comedy[(comedy.production_companies.str.contains("Universal", na=False))]['rev'].sum(),
    comedy[(comedy.production_companies.str.contains("Columbia Pictures", na=False))]['rev'].sum(),
    comedy[(comedy.production_companies.str.contains("Paramount Pictures", na=False))]['rev'].sum(),
    comedy[(comedy.production_companies.str.contains("Walt Disney", na=False))]['rev'].sum()
], index = ['1. Warner Bros', "2. Universal Pictures (Universal)", "3. Columbia Pictures", "4. Paramount Pictures", "5. Walt Disney"])
display(data_22)
display(data_22.max())

1. Warner Bros                       4370928916
2. Universal Pictures (Universal)    9130349034
3. Columbia Pictures                 7161805266
4. Paramount Pictures                3055625722
5. Walt Disney                       7975933215
dtype: int64

9130349034

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [393]:
y_2=data[data.release_year==2012]
data_23 = pd.Series([
    y_2[(y_2.production_companies.str.contains("Universal", na=False))]['rev'].sum(),
    y_2[(y_2.production_companies.str.contains("Warner Bros", na=False))]['rev'].sum(),
    y_2[(y_2.production_companies.str.contains("Columbia Pictures", na=False))]['rev'].sum(),
    y_2[(y_2.production_companies.str.contains("Paramount Pictures", na=False))]['rev'].sum(),
    y_2[(y_2.production_companies.str.contains("Lucasfilm", na=False))]['rev'].sum()
], index = ['1. Universal Pictures (Universal)', "2. Warner Bros", "3. Columbia Pictures", "4. Paramount Pictures", "5. Lucasfilm"])
display(data_23)
display(data_23.max())

1. Universal Pictures (Universal)    1981011579
2. Warner Bros                       1258020056
3. Columbia Pictures                 2501406608
4. Paramount Pictures                 410726715
5. Lucasfilm                           -7634623
dtype: int64

2501406608

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [394]:
data[(data.production_companies.str.contains("Paramount Pictures", na=False))].sort_values('rev',ascending=True).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034,7,20,3
1124,tt0300556,1.047214,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,176,5.1,2003,-60519261,11,8,1
1723,tt0435705,1.068126,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,499,5.9,2007,-51788987,4,4,1

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [395]:
data.groupby(['release_year'])['rev'].sum().sort_values(ascending=False).head(3)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
Name: rev, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [396]:
y_2=data[(data.production_companies.str.contains("Warner Bros", na=False))]
y_2.groupby(['release_year'])['rev'].sum().sort_values(ascending=False).head(3)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
Name: rev, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [397]:
data['mounth'].value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: mounth, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [398]:
sezon = data['mounth'].value_counts()
leto = sezon.reset_index()
leto.columns = ['moun','sum']
leto.sort_values('moun',ascending=True)
leto.loc[(leto.moun>=6) & (leto.moun<=8)]['sum'].sum()

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [399]:
y_3=data[(data.mounth==12)|(data.mounth==1)|(data.mounth==2)]
data_29 = pd.Series([
    y_3[(y_3.director.str.contains("Steven Soderbergh", na=False))]['mounth'].count(),
    y_3[(y_3.director.str.contains("Christopher Nolan", na=False))]['mounth'].count(),
    y_3[(y_3.director.str.contains("Clint Eastwood", na=False))]['mounth'].count(),
    y_3[(y_3.director.str.contains("Ridley Scott", na=False))]['mounth'].count(),
    y_3[(y_3.director.str.contains("Peter Jackson", na=False))]['mounth'].count()
], index = ['1. Steven Soderbergh', "2. Christopher Nolan", "3. Clint Eastwood", "4. Ridley Scott", "5. Peter Jackson"])
display(data_29)

1. Steven Soderbergh    6
2. Christopher Nolan    0
3. Clint Eastwood       6
4. Ridley Scott         3
5. Peter Jackson        7
dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [400]:
data.groupby(['mounth'])['rev'].sum().sort_values(ascending=False)

mounth
6     27551262500
12    26563071474
5     25039516141
11    18654155473
7     18307895020
3     13720216540
10    12994907859
4     12876005537
9     10878921041
8      9640610446
2      8854574425
1      5396885454
Name: rev, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [214]:
data_31 = pd.Series([
    data[(data.production_companies.str.contains("Universal", na=False))]['len_sym'].mean(),
    data[(data.production_companies.str.contains("Warner Bros", na=False))]['len_sym'].mean(),
    data[(data.production_companies.str.contains("Jim Henson Company, The", na=False))]['len_sym'].mean(),
    data[(data.production_companies.str.contains("Paramount Pictures", na=False))]['len_sym'].mean(),
    data[(data.production_companies.str.contains("Four By Two Productions", na=False))]['len_sym'].mean()
], index = ['1. Universal Pictures (Universal)', "2. Warner Bros", "3. Jim Henson Company, The", "4. Paramount Pictures", "5. Four By Two Productions"])
display(data[(data.production_companies.str.contains("Four By Two Productions", na=False))])

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,rev,mounth,len_sym,len_word
1449,tt0443453,1.930735,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,979,6.4,2006,243572744,11,83,12

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [218]:
data_32 = pd.Series([
    data[(data.production_companies.str.contains("Universal", na=False))]['len_word'].mean(),
    data[(data.production_companies.str.contains("Warner Bros", na=False))]['len_word'].mean(),
    data[(data.production_companies.str.contains("Jim Henson Company, The", na=False))]['len_word'].mean(),
    data[(data.production_companies.str.contains("Paramount Pictures", na=False))]['len_word'].mean(),
    data[(data.production_companies.str.contains("Four By Two Productions", na=False))]['len_word'].mean()
], index = ['1. Universal Pictures (Universal)', "2. Warner Bros", "3. Jim Henson Company, The", "4. Paramount Pictures", "5. Four By Two Productions"])
display(data_32)

1. Universal Pictures (Universal)     2.627027
2. Warner Bros                        2.732240
3. Jim Henson Company, The           10.000000
4. Paramount Pictures                 2.868852
5. Four By Two Productions           12.000000
dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [308]:
w=data.original_title
w_1=w.tolist()
w_3 = ' '.join(w_1)
w_4 = w_3.replace('/', "").replace(':', "").replace(',', "").replace('.', "").replace('?', "").replace('/', "")
w_5 = w_4.split(' ')
w_6=[]
for i in w_5:
    w_6.append(i.lower())
w_7=[]
for x in w_6:
    if x not in w_7:
        w_7.append(x)
len(w_7) # Наиболее близкий ответ 3. 2461
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
 16  rev                   1890 non-null   int64
 17  mounth                1890 non-null   int64
 18  len_sym               1890 non-null   int64
 19  len_word              1890 non-null   int64
dtypes: float64(2), int64(9), object(9)
memory usage: 295.4+ KB

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky and Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [321]:
s=data.groupby(['original_title'])['vote_average'].mean().sort_values(ascending=False)
print('Inside Out', s['Inside Out'], '/ Gone Girl',s['Gone Girl'], '/ 12 Years a Slave',s['12 Years a Slave'])
# н/д print('BloodRayne', s['BloodRayne'], '/ The Adventures of Rocky and Bullwinkle',s['The Adventures of Rocky and Bullwinkle'])
print('The Lord of the Rings: The Return of the King', s['The Lord of the Rings: The Return of the King'], '/ Upside Down',s['Upside Down'])
print('300', s['300'], '/ Lucky Number Slevin',s['Lucky Number Slevin'])
print('Upside Down', s['Upside Down'], '/ 300',s['300'], '/ Inside Out', s['Inside Out'], '/ The Lord of the Rings: The Return of the King',s['The Lord of the Rings: The Return of the King'])

Inside Out 8.0 / Gone Girl 7.9 / 12 Years a Slave 7.9
The Lord of the Rings: The Return of the King 7.9 / Upside Down 6.1
300 7.0 / Lucky Number Slevin 7.3
Upside Down 6.1 / 300 7.0 / Inside Out 8.0 / The Lord of the Rings: The Return of the King 7.9

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [327]:
data_35 = pd.Series([
    len(data[(data.cast.str.contains("Johnny Depp", na=False))&(data.cast.str.contains("Helena Bonham Carter", na=False))]),
    len(data[(data.cast.str.contains("Hugh Jackman", na=False))&(data.cast.str.contains("Ian McKellen", na=False))]),
    len(data[(data.cast.str.contains("Vin Diesel", na=False))&(data.cast.str.contains("Paul Walker", na=False))]),
    len(data[(data.cast.str.contains("Adam Sandler", na=False))&(data.cast.str.contains("Kevin James", na=False))]),
    len(data[(data.cast.str.contains("Daniel Radcliffe", na=False))&(data.cast.str.contains("Rupert Grint", na=False))]),
], index = ['1. Johnny Depp & Helena Bonham Carter', "2. Hugh Jackman & Ian McKellen", "3. Vin Diesel & Paul Walker", "4. Adam Sandler & Kevin James", "5. Daniel Radcliffe & Rupert Grint"])
display(data_35)

1. Johnny Depp & Helena Bonham Carter    6
2. Hugh Jackman & Ian McKellen           5
3. Vin Diesel & Paul Walker              5
4. Adam Sandler & Kevin James            5
5. Daniel Radcliffe & Rupert Grint       8
dtype: int64

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [336]:
len(dt_36[(dt_36.director.str.contains("Quentin Tarantino", na=False))])
len(data[(data.director.str.contains("Quentin Tarantino", na=False))])
len(dt_36[(dt_36.director.str.contains("Steven Soderbergh", na=False))])
len(data[(data.director.str.contains("Steven Soderbergh", na=False))])

13

In [341]:
dt_36=data[data.rev>0]
data_36 = pd.Series([
    (len(dt_36[(dt_36.director.str.contains("Quentin Tarantino", na=False))])/len(data[(data.director.str.contains("Quentin Tarantino", na=False))]))*100,
    (len(dt_36[(dt_36.director.str.contains("Steven Soderbergh", na=False))])/len(data[(data.director.str.contains("Steven Soderbergh", na=False))]))*100,
    (len(dt_36[(dt_36.director.str.contains("Robert Rodriguez", na=False))])/len(data[(data.director.str.contains("Robert Rodriguez", na=False))]))*100,
    (len(dt_36[(dt_36.director.str.contains("Christopher Nolan", na=False))])/len(data[(data.director.str.contains("Christopher Nolan", na=False))]))*100,
    (len(dt_36[(dt_36.director.str.contains("Clint Eastwood", na=False))])/len(data[(data.director.str.contains("Clint Eastwood", na=False))]))*100,
], index = ['1. Quentin Tarantino', "2. Steven Soderbergh", "3. Robert Rodriguez", "4. Christopher Nolan", "5. Clint Eastwood"])
display(data_36)

1. Quentin Tarantino     85.714286
2. Steven Soderbergh     76.923077
3. Robert Rodriguez      72.727273
4. Christopher Nolan    100.000000
5. Clint Eastwood        83.333333
dtype: float64

# Submission

In [409]:
len(answer_ls)

36

In [408]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                       Answer
0    1            4 - The Warrior's Way (tt1032751)
1    2            2 - Gods and Generals (tt0279111)
2    3                3 - Winnie the Pooh tt1449283
3    4                                      2 - 110
4    5                                      1 - 106
5    6                         5 - Avatar tt0499549
6    7              2 - The Warrior's Way tt1032751
7    8                                     1 - 1478
8    9                4 - The Dark Knight tt0468569
9   10                5 - The Lone Ranger tt1210819
10  11                                   4 - Comedy
11  12                                    3 - Drama
12  13                        3 - Steven Soderbergh
13  14                             2 - Ridley Scott
14  15                            5 - Peter Jackson
15  16                              1 - Emma Watson
16  17                            3 - Kirsten Dunst
17  18                               3 - Matt Damon
18  19                                   2 - Action
19  20           1 - Universal Pictures (Universal)
20  21                              4 - Warner Bros
21  22           2 - Universal Pictures (Universal)
22  23                        3 - Columbia Pictures
23  24           1 - K-19: The Widowmaker tt0267626
24  25                                     5 - 2015
25  26                                     1 - 2014
26  27                                 4 - Сентябрь
27  28                                      2 - 450
28  29                            5 - Peter Jackson
29  30                                     2 - Июнь
30  31                  5 - Four By Two Productions
31  32                  5 - Four By Two Productions
32  33                                     3 - 2461
33  34  1 - Inside Out, Gone Girl, 12 Years a Slave
34  35        5 - Daniel Radcliffe and Rupert Grint
35  36                        4 - Christopher Nolan